body {
  font-family: sans-serif;
}

input:focus{
  outline: none;
}
table {
  border: 1px solid;
  border-collapse: collapse;
}

thead {
  background-color: #e0e0e0;
  border-bottom: 1px solid;
}

td,th {
  padding: 10px;  
}

.App {
  margin: 20px;
}

.App-BalanceTable {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-spacing: 10px;
}

.Buttons > button {
  margin-right: 10px;
}

.ActionButton {
  background-color: #0084ff;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  border-color: #0084ff;
  padding: 8px 16px;
}

.ActionButton:disabled {
  opacity: 0.25;
}

.CancelButton {
  background-color: lightgray;
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  padding: 8px 16px;
}

.TableButton {
  background-color: #0084ff;
  color: white;
  border: 1px solid;
  border-radius: 3px;
  border-color: #0084ff;
  padding: 4px 6px;
}

.Form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Field {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.Field > input {
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  font-size: medium;
}

.Field-Error {
  color: red;
}

.Waiting {
  display: flex;
  flex-direction: column;
}

.Waiting > div {
  margin: 20px;
}

.sbl-circ-ripple {
  height: 48px;
  width: 48px;
  color: #5a5a5a;
  border-radius: 50%;
  position: relative;
  display: inline-block; }
  .sbl-circ-ripple::after, .sbl-circ-ripple::before {
    content: '';
    height: 0;
    width: 0;
    border: inherit;
    border: 5px solid;
    border-radius: inherit;
    position: absolute;
    left: 40%;
    top: 40%;
    animation: circle-ripple  1s linear infinite; }
  .sbl-circ-ripple::before {
    animation-delay: -0.5s; }

@keyframes circle-ripple {
  0% {
    height: 0;
    width: 0;
    left: 20px;
    top: 20px; }
  100% {
    height: 48px;
    width: 48px;
    left: -5px;
    top: -5px;
    opacity: 0; } }
